html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
  margin: 0 5%;
  color: #0c2c56;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
}
body {
  justify-content: center;
  font-family: "Alegreya", serif;
  margin: 5% 10%;
}

.header-container {
  display: flex;

  justify-content: center;
  align-items: center;
  border: 5px solid #005c5c;
  width: 100%;
  background-color: #c4ced4;
  padding: 2% 0;
}
h1 {
  text-align: center;
}

header nav a {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 2%;
  border-radius: 1rem;
  background-color: #0c2c56;
  font-size: 1.7rem;
  border: 2px solid #005c5c;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.mission-statement-container {
  width: 100%;
  margin-top: 5%;
  padding: 2% 0;
  display: flex;
  justify-content: flex-end;
  background-color: #c4ced4;
  border: 5px solid #005c5c;
  padding: 2% 0;
}
.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c2c56;
  margin-right: 5%;
  color: white;
  border: 5px solid #005c5c;
  text-align: center;
}

.mission-statement p {
  margin: 5% 5% 0 5%;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.mission-statement-image {
  width: 20%;

  margin: 0 5%;
  border: 5px solid #005c5c;
}

.features-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 0;
}

.feature {
  display: flex;
  flex-direction: column;
  border: 5px solid #005c5c;
  width: 50%;
  height: 50vh;
  margin: 3%;
  background-color: #c4ced4;
}

.create,
.plan,
.manage {
  text-align: center;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.create h2,
.plan h2,
.manage h2 {
  margin: 3% 0;
  background-color: #0c2c56;
  color: white;
  font-size: 3rem;
  border: 2px solid #005c5c;
}

.create p,
.plan p,
.manage p {
  font-size: 1.5rem;
  border: 2px solid #005c5c;
  height: 10%;
  align-items: center;
  background-color: #0c2c56;
  color: white;
}

.features-image {
  max-width: 250px;
  height: 250px;
  border: 2px solid #005c5c;
}
footer {
  background-color: #0c2c56;
  color: white;
  border: 5px solid #005c5c;
  width: 100%;
  padding: 2% 0;
}

footer h2 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.contact {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5%;
}

.contact a {
  color: white;
}

/* about css */

h3 {
  font-size: 3rem;
}
.about-us {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 30%;
  border: 2px solid #005c5c;
  background-color: #0c2c56;
  color: white;
  margin: 1%;
}
.about-us img {
  width: 250px;
  height: 250px;
  border: 2px solid #005c5c;
  margin-top: 2%;
}

.info {
  margin-top: -5%;
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
  .header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header-container nav a {
    margin: 0;
    width: 40vw;
    text-align: center;
    margin: 1%;
  }

  .mission-statement-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }

  .mission-statement-image {
    width: 250px;
    margin: 5% 0 5% 5%;
  }

  .mission-statement {
    margin-left: 5%;
  }

  .features-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
  }
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    width: 75%;
  }
  .create,
  .plan,
  .manage {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .create h2,
  .plan h2,
  .manage h2 {
    width: 90%;
  }
  .create p,
  .plan p,
  .manage p {
    margin: 5% 0;
    padding: 2%;
    width: 90%;
  }

  /* about  */

  h3 {
    font-size: 3rem;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 80%;
    border: 2px solid #005c5c;
    background-color: #0c2c56;
    color: white;
    margin: 1%;
    text-align: center;
  }
  .about-us img {
    width: 80%;
    height: 80%;
    border: 2px solid #005c5c;
    margin-top: 2%;
  }

  .info {
    margin-top: -3%;
  }
}

@media (min-width: 800px) {
  .header-container {
    flex-wrap: nowrap;

    display: flex;
    flex-direction: row-reverse;
  }
  .header-container nav a {
    width: 20vw;
    text-align: center;
  }
  .mission-statement-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
    width: 100%;
    background-color: #c4ced4;
    border: 5px solid #005c5c;
    padding: 2% 0;
  }

  /*ABOUT*/

  h3 {
    font-size: 3rem;
  }
  .about-us {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 80%;
    border: 2px solid #005c5c;
    background-color: #c4ced4;
    color: #0c2c56;
    margin: 1%;
    text-align: center;
  }
  /* .about-us img {
    width: 50%;
    height: 50%;
    border: 2px solid #005c5c;
    margin-top: 2%;
  } */

  .info {
    margin-top: -3%;
  }
}

@media (min-width: 1024px) {
  .header-container {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
  }
  header nav {
    display: flex;
    width: 75%;
    flex-direction: row;
  }

  header nav a {
    margin: 0 5%;
  }

  .mission-statement-container {
    display: flex;
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 7rem;
  }

  .features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 0;
  }

  .feature {
    display: flex;
    border: 5px solid #005c5c;
    width: 31%;
    height: 50vh;
    background-color: #c4ced4;
    margin: 0;
  }

  .features-image {
    width: 100%;
  }

  /* ABOUT */
  h3 {
    font-size: 3rem;
  }
  .about-us {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 40%;
    border: 2px solid #005c5c;
    background-color: #0c2c56;
    color: white;
    margin: 1%;
    text-align: center;
  }
  .about-us img {
    width: 100%;
    height: 50%;
    border: 2px solid #005c5c;
    margin-top: 2%;
  }

  .info {
    margin-top: -3%;
  }
}
